@charset "utf-8";
/* CSS Document */

img { border:0;}
.cursor { cursor:pointer;}
.clear { clear:both;}
.Txt_red_12 { font-size:12px; color:#C00}
h3 { text-transform:uppercase; }
.txtNowrap { white-space: nowrap;}
.note { font-size:11px; color:#F60; padding-left:20px;}

#search { padding:10px; border:1px dotted #ccc; margin:10px 0; background:url(../images/bg_search.gif) repeat-x #ECF5FF;}
#search img { margin-right:5px;}
#search #searchBox span { margin:3px 0; width:180px; display:inline-block; white-space:nowrap;}


#newMailL { display:inline-block; float:left; width:30%;padding:0 20px; margin-top:45px;}
#newMailL .imgDisplay { display:inline-block; width:50px; height:50px; vertical-align:top;}
#newMailL .namemail { display:inline-block;}
#newMailL p { font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; margin:0; padding:0;}
#newMailR { display:inline-block; float:left; width:65%}
#mailto { margin-top:10px;}
#mailto a:link { text-decoration:none;}

#menuSend { border-top:0px solid #ccc; border-bottom:1px solid #ccc; padding:5px 0; margin:1px 0; font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; width:100%;}

#bghead { background:#fff; width:100%;}
#header { height:77px; width:100% padding:0 20px;  background:url(../images/head_edirdep.jpg) no-repeat;}
#header p { position:absolute; top:38px; left:815px;}
#page { padding:0 10px; width:100%; margin:0 auto;}
#btnBox { float:right; text-align:right; width:100%;}
#btnBoxAdd { padding-left:20%; padding-top:10px; padding-bottom:10px;}
.chkPermiss span { text-transform:uppercase;}
.chkPermiss input#checkbox { margin-top:0px;}



.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 250px;
  bottom: 100px;
  left: 0;
  width: 100px;
  height: 100px;
}


/************************* PAGINATION **************************************/
.paginationTG{
float: left;
font:14px Tahoma, Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
color:#39C;
margin-top: 10px;
margin-bottom:10px;
margin-left:auto;
margin-right:auto;
width:100%;
}

.paginationTG ul{
margin: 0;
padding: 0;
}

.paginationTG li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

.paginationTG a, .paginationTG a:visited{
padding: 3px 8px;
text-decoration: none; 
background-color: inherit;
color:#09F;
font-weight: bold;
}

.paginationTG a:hover, .paginationTG a:active{
color: #ffffff;
background-image: url(../images/pagination_bg.png);
background-position: top center;
background-repeat: no-repeat;
text-decoration: none; 
}

.paginationTG li.currentpage{
font-weight: bold;
padding: 3px 9px;
background-color: inherit;
color: #ffffff;
background-image: url(../images/pagination_bg.png);
background-position: top center;
background-repeat: no-repeat;
}

.paginationTG li.disablepage{
padding: 0 5px;
border: 1px solid #929292;
color: #929292;
}

.paginationTG li.nextpage{
font-weight: bold;
}

* html .paginationTG li.currentpage, * html .paginationTG li.disablepage{ /*IE 6 and below. Adjust non linked LIs slightly to account for bugs*/
padding-right: 9px;
padding-left: 9px;
}



.tblist
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: #fff;
	margin:0;
	margin-bottom:10px;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
.tblist th
{
	font-size: 16px;
	font-weight: normal;
	padding: 10px 5px 3px 5px;
	border-top: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	text-align:left;
	background-color:#fff;
	color:#336;
}
.tblist td
{
	color:#333;
	padding:5px;
	height:30px;
	border-top: 0px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
}

.tblist td.B { font-weight:700;}
.tblist td strong { font-weight:700;}
.tblist td.red, span.red { color:#F00;}
.tblist tr:hover td,.tblist tr.active td { color:#666;}
.tblist .paddL20 { padding-left:20px;}
.tblist .paddL40 { padding-left:40px;}
.tblist .paddL60 { padding-left:60px;}
.tblist tr.topic {  background:url(../images/bg_topic.gif);}
.tblist tr.odd { background:#EAFFFF}


.tblistReport
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 11px;
	background: #fff;
	margin:0;
	margin-bottom:10px;
	width:auto;
	border-collapse: collapse;
	text-align: left;
}
.tblistReport th
{
	font-size: 13px;
	font-weight: normal;
	padding: 10px 5px 3px 5px;
	border-top: 2px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	text-align:center;
	color:#336;
}
.tblistReport td
{
	color:#333;
	padding:5px;
	height:30px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}



.tbadd
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: #fff;
	margin: 0;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	margin-top:10px;
}
.tbadd th
{
	font-size: 14px;
	font-weight: normal;
	color:#069;
	padding: 7px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	width:20%;
	background:#EAFFFF
}

.tbadd th.padL15 { padding-left:20px; color:#666}

.tbadd td
{
	color:#595959;
	padding: 7px;
	height:50px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	width:80%;
}

.tbadd tbody tr:hover td
{
	background:none;
	
}

.tbadd td.B { font-weight:700;}
.tbadd td strong { font-weight:700;}
.tbadd td.red { color:#F00;}
.tbadd td label2 { float:left; width:100px;}
.tbadd td span { padding-right:20px; margin:5px 0; display:inline-block; white-space:nowrap;}

.tbadd td.line div { border-bottom:1px solid #ccc; padding:5px 0;}

.tbadd .topic { background:#f1f1f1; border-top:1px dashed #ccc; width:100%; color:#000;}
.tbadd .paddL40 { padding-left:40px;}


.tbSublist
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;
	background: #fff;
	margin:0;
	margin-bottom:10px;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
.tbSublist th
{
	font-size: 14px;
	font-weight: normal;
	padding: 10px 5px 3px 5px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	text-align:center;
	background-color:#f1f1f1;
	color:#336;
}
.tbSublist td
{
	color:#333;
	padding:5px;
	height:30px;
	border-top: 0px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc; 
}



.tbSublist2
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: #fff;
	margin:0;
	margin-bottom:10px;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
.tbSublist2 th
{
	font-size: 16px;
	font-weight: normal;
	padding: 10px 5px 3px 5px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	text-align:left;
	background-color:#f1f1f1;
	color:#336;
}
.tbSublist2 td
{
	color:#333;
	padding:5px;
	height:30px;
	border-top: 0px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc; 
	width:10%
}

